<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>wuttipong ponghan</h1>
 <a href="/product">>ดูไอ้โง่เเมน</a>
    </div>
  </body>
</html>
